{% extends 'base.html.twig' %}

{% block title %}Hello PokemonController!{% endblock %}

{% block body %}
    <h1>Welocome to pokemon page</h1>


<table class="table">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> Name</th>
      <th scope="col">Types</th>
      <th scope="col">Total</th>
      <th scope="col">HP</th>
      <th scope="col">Attack</th>
      <th scope="col">Defense</th>
      <th scope="col">Sp. Atk</th>
      <th scope="col">Sp. Def</th>
      <th scope="col">Speed</th>
    </tr>
  </thead>
  <tbody>
     {% for pokemon in pokemons %}
        <tr>
                <td>{{ pokemon.id }}</td>  
                <td>
                <a href="{{ path('pokemon_show', {id: pokemon.id}) }}">
                 {{ pokemon.english }}
                </a>
                </td> 
                <td> 
                    {% for type in pokemon.types %}
                        {{ type.english }} <br>  
                    {% endfor %}
                </td> 
                <td> {{ pokemon.stats.total }} </td>
                <td> {{ pokemon.stats.hp }} </td>
                <td> {{ pokemon.stats.attack }} </td>
                <td> {{ pokemon.stats.defence }} </td>
                <td> {{ pokemon.stats.spAtk }} </td>
                <td> {{ pokemon.stats.spDef }} </td>
                <td> {{ pokemon.stats.speed }} </td>
                
                    
        </tr>           
        {% endfor %}

  </tbody>
</table>


{% endblock %}
